html, body {
    margin: 0;
}

body {
    background-color: hsl(0, 0%, 16%);
    color: hsl(0, 0%, 16%);
    font-family: 'Lato', sans-serif;
    font-size: 1.75em;
    font-weight: 300;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

.foreground-wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.section {
    display: block;
    overflow: auto;
}

/* Top Navigation bar */
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    background-color: transparent;
    color: #FFF;
    margin: auto 4rem;
}
.nav-bar .moniker {
    text-transform: uppercase;
    font-weight: bold;
    margin: auto 0;
}
.nav-bar .nav-items {
    display: flex;
    margin: auto 0;
}
.nav-bar .nav-items > * {
    margin: auto 1.5rem;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 9rem 3rem 9rem;
    background-color: transparent;
    color: #FFF;
    font-size: 0.75em;
}
footer ul {
    list-style-type: none;
    display: inline-block;
}
footer ul li {
    margin: 1rem 0;
}
footer ul li:first-of-type {
    margin-top: 0;
}
footer ul li:last-of-type {
    margin-bottom: 0;
}
footer .credits {
    font-size: 0.75em;
}
footer .credits a,
footer .credits a:link,
footer .credits a:visited,
footer .credits a:hover,
footer .credits a:active {
	color: inherit;
	text-decoration: underline;
	cursor: pointer;
}
footer .right-side {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* Font Awesome icons */
.icon-links {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.icon-links > a {
    background-color: hsl(180, 3%, 93%);
    border-radius: 50%;
    width: 2rem;
	height: 2rem;
	font-size: 1.4rem;
	margin: 0 0.75rem;
    text-align: center;
    vertical-align: middle;
    color: hsl(0, 0%, 16%);
	display: inline-block;
	cursor: pointer;
}
.icon-links > a > i {
	vertical-align: middle;
	background: transparent;
}
.icon-links.dark > a {
	background-color: #141414;
	color: white;
}

.icon-links.flex-left {
	justify-content: flex-start;
	margin-top: 2rem;
}
.icon-links > a:last-child {
	margin-right: 0;
}
.icon-links.flex-left > a:first-child {
	margin-left: 0;
}


/* First Section - Intro */
.section.rectangle-1 {
    color: #FFF;
	min-height: 640px;
	width: 100%;
    background-color: hsl(0, 0%, 29%);
    opacity: 0.98;
}

.section.rectangle-1 .content-wrapper {
    width: 62%;
    margin: 4em auto 0 auto;
    text-align: center;
}

.section.rectangle-1 .content-wrapper * {
    margin: 1em 0.5em;
}


/* Second Section - Featured Project */
.section.rectangle-2 {
    width: 100%;
	background-color: #F2F2F2;
}
.breakout-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 1;
    margin: 4em;
    background-color: #FFF;
    padding: 1em;
}
.breakout-box > div {
    flex-basis: 50%;
}
.breakout-box p {
    font-size: 0.75em;
}
.breakout-box .right-side > * {
    margin-bottom: 1rem;
}
.breakout-box .right-side > *:last-child {
    margin-bottom: 0;
}


/* Third Section - About Me */
.section.rectangle-3 {
    background-color: burlywood;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    letter-spacing: 1px;
    padding: 8rem;
}
.section.section.rectangle-3 > * {
    width: 50%;
}
/* margin on middle element(s) */
.section.section.rectangle-3 .block-1
    > *:not(:first-child):not(:last-child) {
    margin: 1em 0;
}
.width-8em {
    width: 8em;
}

/* Fourth Section - Contact Form */
.section.section.rectangle-4 {
	background-color: hsl(249, 12%, 79%);
	padding: 4rem 8.5rem;
	display: flex;
	justify-content: space-between;
}
.contact-form {
	width: 100%;
    max-width: 500px;
}
.contact-form .field-wrapper {
    position: relative;
    margin-top: 2.7rem;
    margin-bottom: 2.7rem;
}
.contact-form label {
    position: absolute;
    pointer-events: none;
}
.contact-form input, .contact-form textarea {
	font-family: inherit;
    text-transform: none;
    color: inherit;
    background: none;
	padding: .125rem .125rem .0625rem;
    line-height: 1.9;
    width: 100%;
    transition: all .28s ease;
	box-shadow: none;
	/* Clear border styles */
    border-width: 0;
    border-color: transparent;
}
.contact-form input {
	font-size: 1em;
	border-bottom: 2px solid #2A2A2A;
}
.contact-form textarea {
	font-size: 0.9em;
	border: 1px solid #2A2A2A;
}
.contact-form textarea::placeholder {
	font-style: italic;
	font-size: 0.9em;
	color: inherit;
}


/* General Styling */
h1 {
	font-size: 2.2em;
}
.big-text {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
.font-weight-400 {
    font-weight: 400;
}

p {
    width: 100%;
	text-shadow: 0 0 15px 15px rgba(0,0,0,0.1);
}
.quote {
    color: hsl(347, 74%, 44%);
    text-transform: uppercase;
    font-weight: bold;
    max-width: 7em;
}
.round-button {
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    line-height: 44px;
    min-width: 210px;
    border-radius: 25px;
    border: 1px solid #FFF;
    color: #FFF;
    font-size: inherit;
    background-color: transparent;
    transition: color .2s ease,background-color .2s ease,border-color .2s ease;
}
.round-button:hover {
    background-color: hsl(347, 74%, 44%);
    border: 1px solid hsl(347, 74%, 44%);
}

.round-button.dark {
    border: 1px solid hsl(0, 0%, 16%);
    color: hsl(0, 0%, 16%);
}
.round-button.dark:hover {
    background-color: hsl(347, 88%, 60%);
    border: 1px solid hsl(347, 88%, 60%);
}
.white-background {
    background-color: #FFF;
}

/* Preferred line break in text blocks */
span.line {
    display: inline-block;
}