// Above the fold / intro section
.slide.intro-image
	include header.html
	.rectangle-1.min-height
		.content-container
			h1.text-serif.font-weight-400
				| Let’s create something great.
			p
				| Great design is multiple things, not just aesthetics. It’s a conceptual idea backed by strategy, executed in an unexpected way.
			.button-wrapper
				button.round-button See my work
				button.round-button Contact me

// Featured Project section
.slide.bg-off-white
	.ten.columns.offset-by-one
		.row
			.one-half.column
				.image
					img.home-laptop(src='Home-Laptop.jpg')
			.text.one-half.column
				.ten.columns.offset-by-one.content-container
					h1.text-serif
						| Featured Project
					p
						| Helping establish a design system at AT&T was not an easy task. Working with multiple stakeholders in multiple orgs, sometimes remotely, in a very small team taught me that there is more to UX than just design.
					button.round-button.dark See what I did

		// Design as a Discipline box
		.row
			.one-half.column
				h1.text-serif.quote
					p.line “I see
					p.line design as a discipline”
			.one-half.column.bg-white
				.ten.columns.offset-by-one.content-container
					h3.text-serif
						| The heck does that mean?
					p
						| Design is not limited to just paper or digital interfaces. It can be used in multiple mediums like architecture, art, culinary
						| art, etc. Plus it can be used for multiple situations like business decisions, event planning (ask me about my surprise
						| wedding), and organizing thoughts. This type of mindset not only helps me think creatively, but also analytically.
					button.round-button.dark See more work

// 4 Square Content boxes
.slide.no-padding.bg-white.flex-row#destination-work-link
	.image.one-third.column
		img(src='Home-Phone_On_Laptop.jpg')
	.two-thirds.column
		.grid-square.red-cross
			div
				div.ten.columns.offset-by-one
					h3.text-serif User Experience
					p A look into my processes, sketches, and solutions.
					div
						button.round-button.dark View
			div
				div.ten.columns.offset-by-one
					h3.text-serif Interface Design
					p It has to be functional, but it needs to be pretty too.
					div
						button.round-button.dark View
			div
				div.ten.columns.offset-by-one
					h3.text-serif Advertising
					p Where I first started my career, a while ago.
					div
						button.round-button.dark View
			div
				div.ten.columns.offset-by-one
					h3.text-serif Branding
					p Something I don’t get to do that often anymore, but man is it fun.
					div 
						button.round-button.dark View


// About Me
.slide.about-me
	.ten.columns.offset-by-one
		.one-half.column
			.content-container.ten.columns
				h1.text-serif.white-background.width-8em
					| About Me
				p
					span.white-background
						| I’m a DFW based designer. I am always trying to make a better version of myself through new challenges. I enjoy growing my knowledge, my hard skills, my soft skills — and I hate making multiple trips with grocery bags.
				button.round-button.dark.white-background
					| Contact me
		h1.one-half.column.text-serif
			.content-container.ten-columns.offset-by-two
				span.white-background.quote.align-end
					| “I’m doin’ this in one trip”
