// Above the fold / intro section
.slide.intro-image
	include header.html
	.rectangle-1
		.content-wrapper.center
			h1.text-serif.font-weight-400
				| Let’s create something great.
			p
				| Great design is multiple things, not just aesthetics. It’s a conceptual idea backed by strategy, executed in an unexpected way.
			.button-wrapper
				button.round-button See my work
				button.round-button Contact me

// Featured Project section
.slide.bg-off-white
	.ten.columns.offset-by-one
		.row
			.one-half.column
				.image
					img.home-laptop(src='Home-Laptop.jpg')
			.text.one-half.column
				h1.text-serif
					| Featured Project
				p
					| Helping establish a design system at AT&T was not an easy task. Working with multiple stakeholders in multiple orgs, sometimes remotely, in a very small team taught me that there is more to UX than just design.
				button.round-button.dark See what I did

		// Design as a Discipline box
		.row
			.one-half.column
				h1.text-serif.quote
					p.line “I see
					p.line design as a discipline”
			.one-half.column.bg-white
				h3.text-serif
					| The heck does that mean?
				p
					| Design is not limited to just paper or digital interfaces. It can be used in multiple mediums like architecture, art, culinary
					| art, etc. Plus it can be used for multiple situations like business decisions, event planning (ask me about my surprise
					| wedding), and organizing thoughts. This type of mindset not only helps me think creatively, but also analytically.
				button.round-button.dark See more work

// 
.slide.no-padding.bg-white.flex-row
	.image.one-third.column
		img(src='Home-Phone_On_Laptop.jpg')
	.two-thirds.column
		.grid-square
			div
				div.ten.columns.offset-by-one
					h3.text-serif User Experience
					p A look into my processes, sketches, and solutions.
					div
						button.round-button.dark See my work
			div
				div.ten.columns.offset-by-one
					h3.text-serif Interface Design
					p It has to be functional, but it needs to be pretty too.
					div
						button.round-button.dark See my work
			div
				div.ten.columns.offset-by-one
					h3.text-serif Advertising
					p Where I first started my career, a while ago.
					div
						button.round-button.dark See my work
			div
				div.ten.columns.offset-by-one
					h3.text-serif Branding
					p Something I don’t get to do that often anymore, but man is it fun.
					div 
						button.round-button.dark See my work


// About Me
.slide.about-me
	.ten.columns.offset-by-one
		.one-half.column
			h1.text-serif.white-background.width-8em
				| About Me
			p
				span.white-background
					| I’m a DFW based designer. I am always trying to make a better version of myself through new challenges. I enjoy growing my
					| knowledge, my hard skills and my soft skills. (Even outside of design). What challenges can I help you overcome?
			button.round-button.dark.white-background
				| Contact me
		h1.one-half.column.text-serif.quote
			span.white-background
				| “I’m Here to Help You”

// Contact Form
#contact.slide.contact
	.ten.columns.offset-by-one
		.one-half.column
			h1.text-serif Let’s Chat
			p Or just connect on social media.
			.icon-links.dark.flex-left
				a(title='Call')
					i.fas.fa-mobile-alt
				a(title='Email')
					i.far.fa-envelope
				a(title='LinkedIn')
					i.fab.fa-linkedin-in
				a(title='Behance')
					i.fab.fa-behance
		form.contact-form.one-half.column
			.field-wrapper(:class="{active: isActive(contactName, 'contact_name')}")
				input#contact_name(v-model='contactName', type='text', name='contact_name')
				label(for='contact_name') Name
			.field-wrapper(:class="{active: isActive(contactEmail, 'contact_email')}")
				input#contact_email(v-model='contactEmail', type='text', name='contact_email')
				label(for='contact_email') Email
			.field-wrapper(:class="{active: isActive(contactPhone, 'contact_phone')}")
				input#contact_phone(v-model='contactPhone', type='text', name='contact_phone')
				label(for='contact_phone') Phone (optional)
			.field-wrapper(:class="{active: isActive(contactMessage, 'contact_message')}")
				textarea#contact_message(v-model='contactMessage', placeholder='What would you like to chat about?')
			button.round-button.dark(type='submit') Submit
