// Above the fold / intro
.slide
	include header.html
	.rectangle-1
		.content-container
			h1.text-serif.font-weight-400
				| Interface Design
			p
				| It has to be functional, but it needs to be pretty too.
			.button-wrapper
				a(href='/work/ui/#contact')
					button.round-button(
						class='scroll-to-link'
						id='destination:contact:from-work-ui'
					) Contact me

// First content section
.slide.bg-white.mt0.no-padding
	.row
		.one-half.column
			.image
				img.home-laptop(src='./Laptop.jpg')
		.text.one-half.column.height-full
			.ten.columns.offset-by-one.content-container
				h2.text-serif
					| Upper Funnel Redesign
				div
					p.text-serif.text-red
						| Design Challenge
					p
						| With a website filled with an overload of content and industry jargon, users were lost and over-stimulated. We needed a way to hone in our message and help the user find their desired solutions.
	.row.bg-off-white
		.ten.columns.offset-by-one.padding-top-bottom
			.three.columns
				span.text-blue Role:
				span &nbsp;UX/UI Designer
			.nine.columns
				span.text-blue Tools Used:
				span &nbsp; Adobe Xd, Photoshop, Adobe Experience manager.
			.twelve.columns.padding-top
				span.text-blue Solution:
				span &nbsp; Audit, prioritize, and design interchangable components that fit within a design sytem. The result was aesthetic elements and bubbled up pages types that gave users a clear path to a specified solution.


// Long form screenshots and descriptions
.slide.bg-white
	.row.ten.columns.offset-by-one
		.one-half.column
			.content-container
				h4.text-serif Page Types
				p There are 3 major page types, starting from a general categorization to a specific product.
			.content-container.bg-off-white.align-right.padding-right-1
				h4.text-serif Portfolio
				p A portfolio page is the widest generalization. It would encompass something like Network Services.
		.one-half.column.bg-white
			.image.two-thirds.column.align-left
				img(src='./PageType-Row1-Column1.jpg')
			.image.one-third.column.align-left
				img(src='./PageType-Row1-Column2.jpg')


// Whiteboard images
.slide.no-padding.bg-off-white
	.ten.columns.offset-by-one
		.grid-square
			div X
			div X
			div X
			div X
