// Above the fold / intro
.slide.bg-dark.responsive-margin
	include header.html
	.rectangle-1
		.content-container
			h1.text-serif.font-weight-400
				| User Experience
			p
				| A look into my processes, sketches, and solutions.
			.button-wrapper
				a(href='/work/ui/#contact')
					button.round-button(
						class='scroll-to-link'
						id='destination:contact:from-work-ui'
					) Contact me

.slide.bg-white
	.row
		.ten.columns.offset-by-one.padding-top-bottom
			.one-half.column.bg-blue.height-full
				| Image here
			.one-half.column.responsive-margin
				.ten-columns.offset-by-one
					h3.text-serif ASEoD Buy Flow
					h5.text-serif.text-red Design Challenge
					p Traditionally, ordering some services needed to be done with the help of a sales rep, over the phone. AT&T found itself in a situation where lost sales leads and frustrated potential customers were rising, while profits were decreasing.
	.row.bg-off-white.responsive-margin
		.ten.columns.offset-by-one.padding-top-bottom
			.three.columns
				span.text-blue Role:
				span &nbsp;UX/UI Designer
			.nine.columns
				span.text-blue Tools Used:
				span &nbsp; Tools Used: Lucid Chart, Adobe Xd.
			.twelve.columns.padding-top
				span.text-blue Solution:
				span &nbsp; Create a scalable mobile and desktop online order experience with the ability to view pricing and change bandwidth per customer needs and budget.

.slide.no-padding.bg-white
	.ten.columns.offset-by-one.responsive-margin
		.grid-square
			.ten.columns.padding-top-bottom
				h5.text-serif User Flows
				p User lands on ASEoD Landing page. After the user selects number of locations, they then enter location details. After each location has been validated, user begins configuring bandwidth per location. When user is ready to submit request, contact info is filled out and a highly informative sales lead is sent to a sales rep. The sales rep is able to start each call with more than enough info to complete a sale, or even up-sell other AT&T Products.
			.ten.columns.padding-top-bottom
				h5.text-serif Add Location
				p Image here
			.ten.columns.padding-top-bottom
				h5.text-serif Location Validation
				p Image here
			.ten.columns.padding-top-bottom
				h5.text-serif Configuration
				p Image here

.slide.bg-off-white.responsive-margin
	.ten.columns.offset-by-one
		.one-half.column
			h5.text-serif Click-able Prototypes
			p Communicating design through click-able prototypes helped get involvement and feedback from business stakeholders and development partners.
		.one-half.column
			p Image here

.slide.bg-white.responsive-margin
	.row.ten.columns.offset-by-one
		h5.align-center.text-serif Landing Page
		p.align-center This was the first time we got the green light to explore a visual design outside of the AT&T norm.
	.row.twelve.columns.padding-top-bottom
		.image.nine.columns
			img(src='./Offerings page.jpg')
		.image.three.columns
			img(src='./Mobile_landing_page.jpg')

.slide.bg-off-white.responsive-margin
	.row.ten.columns.offset-by-one
		h5.align-center.text-serif Adding Locations
		p.align-center The user can add 2-5 locations at a time.
	.row.ten.columns.offset-by-one.padding-top-bottom
		.image
			img(src='./Add_location1.jpg')
	.row.ten.columns.offset-by-one.padding-top-bottom
		.one-half.column
			.image
				img(src='./Add_location2.jpg')
		.one-half.column
			.image
				img(src='./Config.jpg')

.slide.bg-white.responsive-margin
	.row.ten.columns.offset-by-one
		h5.align-center.text-serif Bandwidth Configuration
		p.align-center User adjusts bandwidth per business and/or budget needs.
	.row.ten.columns.offset-by-one.padding-top-bottom
		.image
			img(src='./Config.jpg')

.slide.bg-off-white.responsive-margin
	.row.ten.columns.offset-by-one
		h5.align-center.text-serif Review Order
		p.align-center User reviews order before submitting.
	.row.ten.columns.offset-by-one.padding-top-bottom
		.image
			img(src='./review.jpg')

.slide.bg-white.responsive-margin
	.row.ten.columns.offset-by-one
		h5.align-center.text-serif Confirmation Sample
		p.align-center Here’s a sample of the order confirmation:
	.row.ten.columns.offset-by-one.padding-top-bottom
		.image
			img(src='./confirm.jpg')
