html, body {
    margin: 0;
}
html {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

body {
	background-color: hsl(0, 0%, 16%);
    color: hsl(0, 0%, 16%);
    font-weight: 300;
	box-sizing: border-box;
	font-size: 1.67rem;
}
p, span {
	line-height: 2rem;
	font-size: 1.67rem;
}

@media (max-width: 500px) {
	html {
		font-size: 12px;
	}
}

* {
    margin: 0;
    padding: 0;
}

.page-blocker {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	background-color: #21D4FD;
	background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
	color: white;
}
.page-blocker .stuff {
	margin: 33vh auto;
	max-width: 250px;
}
.page-blocker .stuff input {
	font-size: 2em;
	width: 100%;
}

.body {
    max-width: 1440px;
	margin: 0 auto;
}

.slide {
	display: block;
	overflow: auto;
	padding-bottom: 2rem;
}

.responsive-margin {
	padding-left: 20px;
	padding-right: 20px;
}
@media (min-width: 400px) {
	.responsive-margin {
		padding: auto;
	}
}

.row {
	overflow: auto;
}

.bg-off-white {
	background-color: #F2F2F2;
}
.bg-white {
	background-color: white;
}
.bg-blue {
	background-color: navy;
}
.bg-dark {
	background-color: hsl(0, 0%, 16%);
}

.height-full {
	height: 100%;
}
.height-one-half {
	height: 50%;
}

.no-padding {
	padding: 0;
}
.padding-top-1 {
	padding-top: 1rem;
}
.padding-right-1 {
	padding-right: 1rem;
}
.padding-top-bottom {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.mt0 {
	margin-top: 0;
}
.content-container {
	padding: 2rem 1rem;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: flex-start;
}
.content-container.align-right {
	align-items: flex-end;
}
.content-container > *,
.space-children > * {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.content-container > *:first-child,
.space-children > *:first-child {
	margin-top: 0;
}
.content-container > *:last-child,
.space-children > *:last-child {
	margin-bottom: 0;
}
.content-container.align-center {
	align-items: center;
}
.align-end {
	align-self: flex-end;
	text-align: end;
}
.content-container > .align-end {
	align-self: flex-end;
}



.grid-square {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	width: calc(100% - 6rem);
	height: calc(100% - 6rem);
	margin: 3rem 0;
}
.grid-square.red-cross > div {
	border-right: 1px solid red;
	border-bottom: 1px solid red;
}
.grid-square.red-cross > div:nth-child(2n) {
	border-right: none;
}
.grid-square.red-cross > div:nth-child(3),
.grid-square.red-cross > div:nth-child(4) {
	border-bottom: none;
}
.grid-square > div > div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: calc(100% - 4rem);
	min-height: 8rem;
	margin: 2rem 0;
}

/* Mobile -- Show 1 square per row */
@media (max-width: 1000px) {
	.grid-square {
		grid-template-rows: 1fr;
		grid-template-columns: 1fr;
		width: 100%;
	}
	.grid-square > div > div {
		width: 100%;
	}
	.grid-square.red-cross > div {
		border-right: none;
	}
	.grid-square.red-cross > div:nth-child(3) {
		border-bottom: 1px solid red;
	}
}

.flex-row {
	display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.flex-row.two-children > * {
	width: calc(50% - 4rem);
}
.flex-column {
	display: flex;
	flex-direction: column;
}
.flex {
	display: flex;
	flex-wrap: wrap;
}
.flex-basis-1 {
	flex-basis: 1;
}
.space-around {
	justify-content: space-around;
}
.middle {
	justify-content: space-around;
	align-items: center;
}

@media screen and (max-width: 900px) {
	.section {
		padding: 2rem 4rem;
	}
}
@media screen and (max-width: 900px) {
	.section {
		padding: 2rem 1rem;
	}
}


/* Top Navigation bar */
a {
	color: inherit;
	text-decoration: none;
}
.nav-bar {
    display: flex;
    flex-direction: row;
	justify-content: space-between;
	font-size: 0.85em;
    height: 80px;
    background-color: transparent;
    color: #FFF;
}
.nav-bar .moniker {
	font-size: 2.25rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: auto 0;
}
.nav-bar .nav-items {
    display: flex;
    margin: auto 0;
}
.nav-bar .nav-items > * {
    margin: auto 1.5rem;
}

/* Footer */
footer {
    /* display: flex; */
    /* justify-content: space-between; */
    margin: 1.5rem auto 3rem auto;
    background-color: transparent;
    color: #FFF;
}
footer ul {
    list-style-type: none;
    display: inline-block;
}
footer ul li {
    margin: 1rem 0;
}
footer ul li:first-of-type {
    margin-top: 0;
}
footer ul li:last-of-type {
    margin-bottom: 0;
}
footer ul li a {
	text-decoration: none;
	font-size: 1.33rem;
}
footer .credits span {
    font-size: 1.33rem;
}
footer .credits a,
footer .credits a:link,
footer .credits a:visited,
footer .credits a:hover,
footer .credits a:active {
	color: inherit;
	text-decoration: underline;
	cursor: pointer;
}
footer .right-side {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	min-height: 100px;
}
footer .right-side p {
	text-align: right;
}

/* Font Awesome icons */
.icon-links {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.icon-links > a {
    background-color: hsl(180, 3%, 93%);
    border-radius: 50%;
    width: 2rem;
	height: 2rem;
	font-size: 1.4rem;
	margin: 0 0.75rem;
    text-align: center;
    vertical-align: middle;
    color: hsl(0, 0%, 16%);
	display: inline-block;
	cursor: pointer;
}
.icon-links > a > i {
	vertical-align: middle;
	background: transparent;
}
.icon-links.dark > a {
	background-color: #141414;
	color: white;
}

.icon-links.flex-left {
	justify-content: flex-start;
	margin-top: 2rem;
}
.icon-links > a:last-child {
	margin-right: 0;
}
.icon-links.flex-left > a:first-child {
	margin-left: 0;
}


/* First Section - Intro */
.slide.intro-image {
	background-color: hsl(0, 0%, 29%);
	background: url("../Home-Main_Background.jpg");
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}
.slide .rectangle-1 {
	display: flex;
	justify-content: center;
	align-items: center;
    color: #FFF;
	width: 100%;
    opacity: 0.98;
}
.min-height {
	min-height: 640px;
}
@media (max-width: 500px) {
	.min-height {
		min-height: 400px;
	}
}
.slide .rectangle-1 > .content-container {
    max-width: 900px;
	text-align: center;
}
.slide .rectangle-1 > .content-container > * {
    margin: 0.5em auto;
}
.slide .rectangle-1 > .content-container > p {
	font-size: 1.75rem;
	font-weight: 100;
}
.button-wrapper button,
.slide .rectangle-1 > .content-container > .button-wrapper > button {
	margin: 2em 0.25em;
}

/* Second Section - Featured Project */
.section.rectangle-2 {
	background-color: #F2F2F2;
}
.image {
	overflow: hidden;
}
.image img {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}
.image.align-left {
	margin-left: 0;
	float: left;
}
img.home-laptop {
	height: 527px;
}


/* Third Section - About Me */
.slide.about-me {
	background-color: burlywood;
	background: url("../Home-About_Me.jpg") no-repeat center center;
	background-size: cover;
	min-height: 560px;
}

/* Fourth Section - Contact Form */
.slide.contact {
	background-color: hsl(245, 11%, 79%);
	padding-bottom: 2rem;
}
.slide.contact .info-text {
	margin-top: 2rem;
}
/* Show image if using big screen */
@media (min-width: 1200px) {
	.slide.contact {
		min-height: 630px;
		background-image: url("../Home-Contact_Photo.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: bottom;
	}
	.contact-form {
		margin-left: 4rem;
	}
}
.contact-form .field-wrapper {
    position: relative;
    margin-top: 2.7rem;
	margin-bottom: 2.7rem;
	width: 98%;
}
.contact-form input, .contact-form textarea {
	font-family: inherit;
    text-transform: none;
    color: inherit;
    background: none;
	padding: .125rem .125rem .0625rem;
	margin: 0;
    line-height: 1.9;
    width: 100%;
    transition: all .28s ease;
	box-shadow: none;
	/* Clear border styles */
    border-width: 0;
    border-color: transparent;
}
.contact-form input {
	font-size: 1em;
	border-bottom: 2px solid #2A2A2A;
	background-color: none;
}
.contact-form textarea {
	font-size: 0.9em;
	border: 1px solid #2A2A2A;
}
.contact-form textarea::placeholder {
	font-style: italic;
	font-size: 0.9em;
	color: inherit;
}
.contact-form label {
	position: absolute;
	top: 0.25rem;
    pointer-events: none;
	transition: all 0.25s ease-in;
}
.contact-form input:focus ~ label,
.contact-form .active input ~ label {
	top: -1.25em;
	font-size: 0.7em;
}


/* General Styling */
.text-serif {
    font-family: 'Playfair Display', serif;
    
}
.text-xlg {
	font-size: 4.5rem;
}
.text-medlg {
	font-size: 1.75rem;
}
.bigish-text {
    font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 0.5rem;
}
.font-weight-400 {
    font-weight: 400;
}
.font-weight-bold {
    font-weight: bold;
}
.text-blue {
	color: #066D8B;
}
.text-red {
	color: #C31D40;
}

.align-right {
	text-align: right;
}
.align-center {
	text-align: center;
}

p {
    width: 100%;
	text-shadow: 0 0 15px 15px rgba(0,0,0,0.1);
}
.quote {
    color: hsl(347, 74%, 44%);
    text-transform: uppercase;
    font-weight: bold;
    max-width: 7em;
}
/* Center quotes on smaller screens */
@media (max-width: 750px) {
	.quote {
		width: 100%;
		max-width: 100%;
	}
}
.round-button {
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    line-height: 44px;
    padding: 0 2rem;
    border-radius: 25px;
    border: 1px solid #FFF;
    color: #FFF;
    font-size: inherit;
    background-color: transparent;
    transition: color .2s ease,background-color .2s ease,border-color .2s ease;
}
.round-button:hover {
    background-color: hsl(347, 74%, 44%);
    border: 1px solid hsl(347, 74%, 44%);
}
.round-button.dark {
    border: 1px solid hsl(0, 0%, 16%);
    color: hsl(0, 0%, 16%);
}
.round-button.dark:hover {
    background-color: hsl(347, 88%, 60%);
    border: 1px solid hsl(347, 88%, 60%);
}
.white-background {
    background-color: #FFF;
}

/* Preferred line break in text blocks */
p.line {
    display: inline-block;
}